doctype html
html
  head
    title Rushi's Dance Academy 
    block scripts
    block style 
  body
    nav#navbar.top 
        ul
            div#logo
             img(src="./img/2.png")
            div.name RDA
            div.li
            li #[a(href='/') Home ]
            li #[a(href='/') About ]
            li #[a(href='/') Services ]
            li #[a(href='/') Class Info ]
            li #[a(href='/contact') Contact Us ]  
    
    block content
    block footer 
      footer#footer 
        | Copyright @ 2023 RDAcademy.com     
      